/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-block {
	
}

.review{
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.review .review__item{
  padding-top: 15px;
  padding-bottom: 15px;
}

.review .review__item + .review__item{
  border-top: 1px solid #aaa;
}

.review .review_rating .fas{
  color:#F6B733;
}
.review .review_rating .far{
  color: #aaa;
}